/***********/
/* Botones */
/***********/

body {
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(218, 208, 208);
}

h2 {
    letter-spacing: 8px;
    font-size: 20px;
    color: rgb(221, 111, 20);
}

#bio_game {
    display: none;
}

#preguntas {
    display: flex;
    justify-content: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-content: space-around;
    height: 70vh;
    width: 30vw;
}

fieldset>legend {
    text-align: center;
}

input {
    height: 25%;
    font-size: inherit;
}

.btn_yellow,
.btn_blue,
.btn_orange,
.btn_grey {
    font-size: 1.5em;
}

.btn_orange {
    background-color: orange;
    color: white;
}

.btn_grey {
    background-color: grey;
    color: white;
}

.btn_yellow {
    background-color: rgb(241, 223, 62);
}

.btn_blue {
    background-color: blue;
    color: white;
}

#timer {
    font: 1em bold;
    font-size: 30px;
}



/*****************/
/* Media queries */
/*****************/

@media screen and (min-width: 768px) {}