/*************/
/* Variables */
/*************/

:root {
    --ff-primary: 'PT Mono', monospace;
    --ff-secondary: 'Orbitron', sans-serif;
    --ff-terciary: 'Dosis', sans-serif;

    --clr-blue: #00dcf5ff;
    --clr-green: #5de975ff;
    --clr-yellow: #e2ff0aff;
    --clr-orange: #ff695cff;
    --clr-dark: #114b5fff;

    --fs-h1: 2.45rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}




body{
    display: flex;
    align-items: center;
    flex-direction: column;
}




#bio_game {
    display: none;
}

h3 {
    margin:25px;
}


#answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    padding: 20px;
}




.btn_yellow,
.btn_blue,
.btn_orange,
.btn_green {
    font-size: 1.5em;
    width: 75%;
    height: 70px;
    margin: 10px;
    border: 0px solid transparent;
}

.btn_orange {
    background-color: var(--clr-orange);
}

.btn_green {
    background-color: var(--clr-green);
}

.btn_yellow {
    background-color: var(--clr-yellow);
}

.btn_blue {
    background-color: var(--clr-blue);
}

#timer {
    font: 1em bold;
    font-size: 30px;
}

/* ------------- */
/* Media queries */
/* ------------- */
/* PC  A partir de 1366px */
@media screen and (min-width: 768px) {
    #answers {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    .btn_yellow,
    .btn_blue,
    .btn_orange,
    .btn_green {
        width: 40%;
    }
   

}